.theme-card {
  overflow: auto;
  padding: 10px 20px 20px 20px;
}

.card {
    position: relative;
    float: left;
    width: 320px;
    height: 450px;
    /* background: #fff; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .25);
    margin: 15px max(calc(100% / 4 - 170px), 10px);
    font-size: 14px;
  }
  
  .card .poster::before {
    content: '';
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 1;
  }

  #spring::before {
    background: linear-gradient(0deg, #95b675 50%, transparent);
  }
  
  #summer::before {
    background: linear-gradient(0deg, rgb(81, 152, 216) 50%, transparent);
  }

  #autumn::before {
    background: linear-gradient(0deg, #eb8e55 50%, transparent);
  }

  #winter::before {
    background: linear-gradient(0deg, #efefef 50%, transparent);
  }

  .card:hover .poster::before {
    bottom: 0;
  }
  
  .card .poster {
    position: relative;
    overflow: hidden;
  }
  
  .card .poster img {
    width: 100%;
    transition: 0.5s;
  }
  
  .card:hover .poster img {
    transform: translateY(-50px);
    filter: blur(5px); /* 高斯模糊 */
  }
  
  .card .details {
    position: absolute;
    bottom: -186px; /*-190*/
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 20px;
    transition: 0.5s;
  }
  
  .card:hover .details {
    bottom: 0;
  }
  
  .card .details .logo {
    max-width: 180px;
  }
  
  .card .details h3 {
    margin-top: 6px;
    margin-bottom: 8px;
    /* font-size: 1.2em; */
    color: #fff;
  }
  
  .card .details .rating {
    position: relative;
    padding: 5px 0;
  }
  
  .card .details .rating .fa-star {
    color: #f7f406;
    font-size: 1em;
  }
  
  .card .details .rating span {
    color: #fff;
    margin-left: 10px;
  }
  
  .card .details .tags {
    position: relative;
    margin-top: 5px;
  }
  
  .card .details .tags span {
    padding: 2px 5px;
    color: #fff;
    background: #03a8f5;
    border-radius: 4px;
  }
  
  .card .details .tags span:nth-child(2) {
    background: #ff5722;
  }
  
  .card .details .info {
    color: #fff;
    margin-top: 20px;
  }
  
  .card .details .cast h4 {
    color: #fff;
    margin-top: 10px;
  }
  
  .card .details .cast ul {
    position: relative;
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .card .details .cast ul li {
    list-style: none;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
  }
  
  .card .details .cast ul li img {
    width: 100%;
  }